body {
    
    text-align: center;
    background-color: rgb(247, 234, 234);
}

.container{
    color: rgb(25, 24, 24);
  text-shadow: 2px 2px 4px #dfdede;
    width: 600px;
    height: 200px;
    background: gainsboro;
    bottom:200px;
    margin: auto;

}

.display {
    font-display: 500px;
    background: gainsboro;
    align-items: center;
    flex-direction: column;
    
    
}

    table, th, td {
        border: 1px solid rgb(151, 151, 164);
        border-collapse: collapse;
      }
      th, td {
        background-color: #e6f2e8;
      }

table{
    margin-left: 100px;
    padding: 2px;
}
